@import url("https://fonts.googleapis.com/css?family=Prata|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/*----------------------------------------*/
/*  00 - Base - Typography
/*----------------------------------------*/
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  color: #242424;
  font-weight: 500;
  line-height: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.img-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
a,
a:hover,
a:focus,
a:active,
button,
button:focus,
.btn,
.btn:focus,
input,
input:focus,
select,
textarea {
  text-decoration: none;
  outline: 0;
}

button,
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}
.hide {
  max-height: 0px;
  transition: max-height 0.5s;
}
.toggle-hide {
  max-height: 200px;
  overflow: hidden;
  margin: 0 auto;
  transition: max-height 0.5s;
}
.btn-close {
  position: absolute;
  top: 0;
  left: -50px;
  background: #242424;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 10;
  font-size: 24px;
}
.btn-close.white-close_btn {
  color: #ffffff;
}
.shella-btn {
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
  background-color: #242424;
  color: #ffffff !important;
  width: 175px;
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 25px;
  font-size: 16px;
}
.position-relative {
  position: relative;
}
.shella-btn_fullwidth {
  width: 100%;
}
.shella-btn:hover {
  background-color: #e75480;
}
.overflow-hidden {
  overflow: hidden;
}
.bg-smoke_color {
  background-color: #f5f5f5;
}
.bg-white_color {
  background-color: #ffffff;
}
.header-top_area .header-top_nav {
  border-bottom: 1px solid #e5e5e5;
}
.header-top_area .ht-menu > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.header-top_area .ht-menu > ul > li {
  display: inline-block;
  position: relative;
}
.header-top_area .ht-menu > ul > li > a {
  padding: 8px 15px;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
.header-top_area .ht-menu > ul > li:first-child > a {
  padding-left: 0;
}
.template-color a {
  color: #242424;
}
.template-color [class*="active"] > a {
  color: #e75480;
}
.template-color a:hover {
  webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #e75480;
}
.header-top_area .ht-menu > ul > li .ht-dropdown {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  width: 150px;
  padding: 10px;
  z-index: 99;
}
.header-top_area .header-top_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.header-top_area .header-top_right > ul > li {
  display: inline-block;
}
.header-top_area .header-top_right > ul > li > a {
  padding: 8px 15px;
  display: block;
  font-size: 12px;
}
.header-top_area .ht-menu > ul > li {
  display: inline-block;
  position: relative;
}
.header-top_area .ht-menu > ul > li:hover .ht-dropdown {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.header-top_area .ht-menu > ul > li .ht-dropdown > li a {
  border-bottom: 1px solid #e5e5e5;
  display: block;
  padding: 10px 5px;
  line-height: 25px;
  font-size: 12px;
}
.header-top_area .ht-menu > ul > li .ht-dropdown > li:first-child > a {
  padding-top: 0;
}
.header-top_area .ht-menu > ul > li .ht-dropdown > li:last-child > a {
  border-bottom: 0;
  padding-bottom: 0;
}
.header-top_area .ht-menu > ul > li .ht-dropdown > li a img {
  margin-right: 5px;
}
.header-middle_area .header-middle_nav {
  padding: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-middle_area .header-middle_nav .header-search_area form.search-form {
  position: relative;
}
.header-middle_area
  .header-middle_nav
  .header-search_area
  form.search-form
  input {
  border: 1px solid #e5e5e5;
  height: 40px;
  padding: 0 40px 0 15px;
}
.header-middle_area
  .header-middle_nav
  .header-search_area
  form.search-form
  button.search-button {
  position: absolute;
  right: 0;
  padding: 5px 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}
.header-right_area > ul > li.minicart-wrap {
  position: relative;
}
.header-right_area > ul > li.minicart-wrap > a.minicart-btn {
  border: 1px solid #e5e5e5;
  padding: 9px 12px 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-right_area
  > ul
  > li.minicart-wrap
  > a.minicart-btn
  .minicart-count_area {
  border-right: 1px solid #e5e5e5;
  padding-right: 10px;
  margin-right: 10px;
}
.header-right_area
  > ul
  > li.minicart-wrap
  > a.minicart-btn
  .minicart-count_area
  > span.item-count {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100%;
  font-size: 11px;
  background-color: #e75480;
  color: #ffffff;
}
.header-right_area
  > ul
  > li.minicart-wrap
  > a.minicart-btn
  .minicart-count_area
  i {
  font-size: 25px;
  color: #e75480;
}
.header-right_area.header-right_area-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-right_area.header-right_area-2 > ul > li {
  display: inline-block;
  margin-right: 20px;
}
.header-right_area.header-right_area-2 > ul > li.mobile-menu_wrap > a > i {
  vertical-align: text-bottom;
  font-size: 23px;
}
.header-right_area.header-right_area-2 > ul > li {
  display: inline-block;
  margin-right: 15px;
}
.header-right_area.header-right_area-2 > ul > li.minicart-wrap > a {
  border: 0;
  padding: 0;
}
.header-right_area.header-right_area-2
  > ul
  > li.minicart-wrap
  > a
  > .minicart-count_area
  > span.item-count {
  top: -10px;
  left: -15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 9px;
}
.header-right_area.header-right_area-2
  > ul
  > li.minicart-wrap
  > a
  > .minicart-count_area {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
.header-right_area.header-right_area-2 > ul > li:last-child {
  margin-right: 0;
}
.header-right_area.header-right_area-2 > ul > li > a > i {
  font-size: 25px;
}

/* Mini Cart  */
.offcanvas-minicart_wrapper .offcanvas-menu-inner,
.mobile-menu_wrapper .offcanvas-menu-inner,
.offcanvas-search_wrapper .offcanvas-menu-inner {
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 0;
  right: -285px;
  width: 285px;
  height: 100%;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.offcanvas-minicart_wrapper .offcanvas-menu-inner {
  width: 450px;
  padding: 60px;
  -webkit-box-shadow: 0px 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.2);
}
.offcanvas-minicart_wrapper.open .offcanvas-menu-inner,
.mobile-menu_wrapper.open .offcanvas-menu-inner,
.offcanvas-search_wrapper.open .offcanvas-menu-inner {
  left: auto;
  right: 0;
  visibility: visible;
  opacity: 1;
  z-index: 999;
}
.offcanvas-minicart_wrapper .offcanvas-menu-inner .btn-close {
  background: transparent;
  color: #242424;
  top: 0;
  right: 0;
  left: auto;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  z-index: 10;
  font-size: 24px;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-heading
  > h4 {
  margin-bottom: 0;
  padding-bottom: 25px;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-list {
  max-height: 310px;
  position: relative;
  overflow: auto;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-list
  > li.minicart-product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-list
  > li.minicart-product
  > a.product-item_remove {
  position: absolute;
  right: 15px;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-list
  > li.minicart-product
  .product-item_img {
  border: 1px solid #e5e5e5;
  -ms-flex-preferred-size: 70px;
  -webkit-flex-basis: 70px;
  flex-basis: 70px;
  max-width: 70px;
}
.offcanvas-minicart_wrapper .offcanvas-menu-inner .minicart-item_total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 25px 0;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-list
  > li.minicart-product
  .product-item_content
  .product-item_quantity {
  display: block;
  padding-top: 10px;
}
.offcanvas-minicart_wrapper
  .offcanvas-menu-inner
  .minicart-content
  .minicart-list
  > li.minicart-product
  .product-item_content {
  -webkit-flex-basis: calc(100% - 70px);
  -ms-flex-preferred-size: calc(100% - 70px);
  flex-basis: calc(100% - 70px);
  max-width: calc(100% - 70px);
  padding-left: 20px;
  padding-right: 10px;
}
.offcanvas-minicart_wrapper .offcanvas-menu-inner .minicart-btn_area {
  padding-bottom: 15px;
}
.global-overlay {
  background-color: rgba(36, 36, 36, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}
.global-overlay.overlay-open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* Header Menu */

.main-nav > ul > li {
  display: inline-block;
  margin-right: 40px;
}
.main-nav > ul > li > a {
  text-transform: uppercase;
  padding: 20px 0;
  display: block;
}
.main-nav > ul > li > a > i {
  margin-left: 5px;
}
.main-nav > ul > li.megamenu-holder .shella-megamenu {
  -webkit-box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.97);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  right: auto;
  top: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 999;
}
.main-nav > ul > li.megamenu-holder:hover .shella-megamenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-nav > ul > li .shella-dropdown {
  -webkit-box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.97);
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  padding: 20px 0 24px;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  position: absolute;
  width: 230px;
  z-index: 9;
}
.main-nav > ul > li:hover .shella-dropdown {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.main-nav > ul > li.megamenu-holder > ul > li {
  width: 33.33%;
}
.main-nav > ul > li.megamenu-holder > ul > li > span.megamenu-title {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.main-nav > ul > li.megamenu-holder > ul > li > span.megamenu-title:before {
  content: "";
  width: 50%;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #e75480;
}
.main-nav > ul > li.megamenu-holder > ul > li > ul > li {
  padding-left: 0;
}
.main-nav > ul > li.megamenu-holder > ul > li > ul > li > a {
  display: block;
  line-height: 35px;
  font-size: 16px;
}
.main-nav > ul > li .shella-dropdown > li > a {
  padding: 10px 20px;
  display: block;
}
.mobile-menu_wrapper .offcanvas-menu-inner .offcanvas-inner_logo {
  padding: 30px 0;
  text-align: center;
}
.offcanvas-navigation .mobile-menu li {
  position: relative;
}
.offcanvas-navigation .mobile-menu li a {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
}
.offcanvas-navigation .mobile-menu li > .menu-expand {
  position: absolute;
  right: 0;
  top: 2px;
  width: 50px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  text-align: center;
  margin-right: 4px;
  font-size: 20px;
}
.offcanvas-navigation .mobile-menu li .sub-menu {
  padding-left: 10px;
  overflow-y: auto;
}
.offcanvas-navigation .mobile-menu li .sub-menu li a {
  text-transform: capitalize;
  font-size: 13px;
}
.offcanvas-navigation .mobile-menu > li {
  height: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.offcanvas-navigation .mobile-menu li.active > .menu-expand i:before {
  content: "\f462";
}

/* Seach box */
.offcanvas-search_wrapper .offcanvas-menu-inner {
  background-color: #242424;
  opacity: 0.97;
  width: 100%;
  right: 0;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  visibility: visible;
}
.offcanvas-search_wrapper.open .offcanvas-menu-inner {
  left: auto;
  right: 0;
  padding: 0;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}
.offcanvas-search_wrapper .offcanvas-menu-inner .btn-close {
  background: transparent;
  color: #242424;
  top: 15px;
  right: 15px;
  left: auto;
  font-size: 45px;
  color: #ffffff;
}
.offcanvas-search_wrapper .offcanvas-menu-inner .offcanvas-search {
  background-color: #242424;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  width: calc(100% - 25%);
}
.offcanvas-search_wrapper
  .offcanvas-menu-inner
  .offcanvas-search
  .hm-searchbox {
  position: relative;
}
.offcanvas-search_wrapper
  .offcanvas-menu-inner
  .offcanvas-search
  .hm-searchbox
  > input {
  background-color: #333333;
  border: 0;
  height: 100px;
  line-height: 100px;
  width: 100%;
  padding: 0 100px 0 25px;
  color: #ffffff;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: 1.3s ease-in-out;
  -o-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
  -webkit-transform-origin: top bottom;
  -ms-transform-origin: top bottom;
  transform-origin: top bottom;
}
.offcanvas-search_wrapper.open
  .offcanvas-menu-inner
  .offcanvas-search
  .hm-searchbox
  > input {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.offcanvas-search_wrapper
  .offcanvas-menu-inner
  .offcanvas-search
  .hm-searchbox
  > .search_btn {
  position: absolute;
  font-size: 48px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 30px;
  border: 0;
  background: transparent;
  color: #ffffff;
}

/* Slider */

.slick-dots {
  bottom: 0;
}

.slider-shella .slick-arrow {
  -webkit-box-shadow: 0px 0px 9.8px 0.2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 9.8px 0.2px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  left: auto;
  right: 5%;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.slider-shella .slick-arrow:hover {
  background-color: #000000;
}
.slider-shella .slick-arrow:hover::before {
  color: #ffffff;
}
.slider-shella .slick-arrow:before {
  font-family: "Ionicons";
  color: black;
  text-align: center;
  width: 50px;
  height: 50px;
  display: block;
  font-size: 12px;
  line-height: 50px;
}
.slider-shella .slick-prev:before {
  content: "\f124";
}
.slider-shella .slick-next:before {
  content: "\f125";
}
.slider-shella .slick-next {
  top: auto;
  bottom: 50%;
  margin-bottom: 30px;
}

/* Service */

.banner-area {
  padding: 90px 0 0;
}
.service-area .service-nav {
  padding: 90px 0 0;
}
.service-area .service-nav .service-item {
  position: relative;
  text-align: center;
}
.service-area .service-nav .service-item:before {
  background-color: #e5e5e5;
  content: "";
  height: 32px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.service-area .service-nav .service-item .content > h4 {
  font-size: 16px;
  margin-bottom: 10px;
}
.service-area .service-nav .service-item .content > p {
  margin-bottom: 0;
}

.img-hover_effect {
  position: relative;
}
.img-hover_effect:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 1;
}
.img-hover_effect:hover:before {
  background-color: rgba(255, 255, 255, 0.3);
  left: 50%;
  right: 50%;
}
.img-hover_effect:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 1;
}
.img-hover_effect:hover:after {
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 50%;
  top: 50%;
}

.product-area {
  padding: 90px 0 0;
}
.section-title {
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-title:before {
  background-color: #e5e5e5;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.section-title > h3 {
  background-color: #ffffff;
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 0;
  z-index: 1;
}

.product-item {
  margin: 10px 0;
}
.product-item .single-product {
  border: 1px solid #e5e5e5;
  padding: 20px;
}
.product-item .single-product:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.product-item .single-product .product-img {
  position: relative;
  text-align: center;
}
.product-item .single-product .product-img > a {
  display: block;
}
.product-item .single-product .product-img > a img {
  width: 100%;
}
.product-item .single-product .product-img > a .secondary-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.product-item .single-product .product-img:hover .secondary-img {
  opacity: 1;
}
.sticker {
  background-color: #e75480;
}
.sticker:before {
  border-color: transparent transparent transparent #e75480;
}
.sticker,
.sticker-2 {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
  height: 25px;
  line-height: 26px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  cursor: text;
}
.sticker.sticker-2,
.sticker-2 {
  background-color: #242424;
  left: auto;
  right: 0;
}
.sticker:before,
.sticker-2:before {
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  margin-top: -6px;
  position: absolute;
  right: -11px;
  top: 50%;
}
.sticker.sticker-2:before,
.sticker-2:before {
  border-color: transparent #242424 transparent transparent;
  right: auto;
  left: -11px;
}
.product-item .single-product .product-img .add-actions {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.product-item .single-product:hover .product-img .add-actions {
  opacity: 1;
}
.product-item .single-product .product-img .add-actions > ul > li {
  display: block;
}
.product-item .single-product .product-img .add-actions > ul > li > a {
  display: block;
  width: 0;
  height: 35px;
  line-height: 36px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.product-item .single-product:hover .product-img .add-actions > ul > li > a {
  width: 35px;
}
.product-item .single-product .product-img .add-actions > ul > li > a > i {
  font-size: 20px;
}
.add-actions > ul > li > a:hover {
  background-color: #e75480;
  color: #ffffff;
}
.product-item .single-product .product-content {
  padding-top: 30px;
}
.product-item
  .single-product
  .product-content
  .product-desc_info
  h3.product-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}
.product-item
  .single-product
  .product-content
  .product-desc_info
  .price-box
  .new-price {
  font-size: 16px;
  color: #e75480;
}
.product-item
  .single-product
  .product-content
  .product-desc_info
  .price-box
  .old-price {
  color: #bbbbbb;
  text-decoration: line-through;
  font-size: 14px;
  margin-left: 10px;
}
.product-item .single-product .product-content .product-desc_info .rating-box {
  padding-top: 10px;
}
.product-item
  .single-product
  .product-content
  .product-desc_info
  .rating-box
  > ul
  > li {
  display: inline-block;
  color: #e75480;
}
.product-item
  .single-product
  .product-content
  .product-desc_info
  .rating-box
  > ul
  > li
  > i {
  font-size: 18px;
}
.product-tab_area {
  padding: 95px 0 0;
} 
.product-tab_area .section-title .product-tab {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  padding-left: 25px;
  position: relative;
}
.product-tab_area .section-title .product-tab>ul.product-menu>li {
  margin-right: 15px;
}

.latest-blog_area {
  padding-top: 80px;
}
.latest-blog_area .section-title {
  margin-bottom: 40px;
}
.blog-item .blog-content>h3.heading {
  padding-top: 25px;
  line-height: 24px;
  font-size: 18px;
  max-width: 85%;
  margin: 0 auto;
}
.blog-item .blog-content>p.short-desc {
  margin-bottom: 0;
  padding-top: 15px;
}
.blog-item .blog-content .blog-meta {
  border-top: 1px solid #e5e5e5;
  padding-top: 25px;
  margin-top: 25px;
  text-align: center;
}
.blog-item .blog-content .blog-meta>ul>li {
  display: inline-block;
  position: relative;
}
.blog-item .blog-content .blog-meta>ul>li:first-child {
  margin-right: 15px;
}
.blog-item .blog-content .blog-meta>ul>li:before {
  background-color: #242424;
  content: "";
  height: 1px;
  position: absolute;
  right: -16px;
  top: 50%;
  width: 12px;
  -webkit-transform: translateY(-50%) rotate(-58deg);
  -ms-transform: translateY(-50%) rotate(-58deg);
  transform: translateY(-50%) rotate(-58deg);
}
.blog-item .blog-content .blog-meta>ul>li:not(:first-child):before {
  background-color: transparent;
}
.latest-blog_slider .blog-item {
  padding: 0 15px;
}
.latest-blog_slider .slick-list{
  margin: -15px;
}
